
.container .row{
	margin-top: 20px;
}
/**
 *  首页导航
 */


/**
 * 首页
 * 
 */
#home {
  padding: 0;
  color: #fff;
  background-image: url(/images/cover/home.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  h1 {
	  margin-top: 0;
	  margin-bottom: 20px;
	  font-size: 60px;
  }
  a { 
  	margin: 0 5px 
  }
  h3 {
	  margin-top: 20px;
	  margin-bottom: 0;
	}
}
.page{
	overflow: hidden;
	.content.cover{ 
			padding: 240px 0;
	}
	.heading h2{
		margin-top: 0;
        margin-bottom: 20px;
	}
}




/**
 * 左侧工具栏样式
 * 
 */
.panel-group{
 .panel{
 	.panel-heading{
    .panel-title{
    	font-size: 14px;
    	font-weight: 600;
    }
 	}
 	.panel-body{
 		 .nav{
 		 	  li{
 		 	  	.selected{
 		 	  		 background-color:#9E9E9E;
 		 	  		 font-size: 14px;
 		 	  		 color:#FFFFFF;
 		 	  	}
 		 	  }
 		 }
 	}
 }
}
