
.container .row{
	margin-top: 20px;
}
.container.head-navbar{
	padding: 0px;
	// margin:0px 50px;
	// margin:0px 220px;  需要在高显示器上展示mediaQuery
}

/**
 * 左侧工具栏样式
 * 
 */
.panel-group{
 .panel{
 	.panel-heading{
    .panel-title{
    	font-size: 14px;
    	font-weight: 600;
    }
 	}
 	.panel-body{
 		 .nav{
 		 	  li{
 		 	  	.selected{
 		 	  		 background-color:#9E9E9E;
 		 	  		 font-size: 14px;
 		 	  		 color:#FFFFFF;
 		 	  	}
 		 	  }
 		 }
 	}
 }
}
