<div class="col-md-4 col-sm-4" style="min-height: 400px;margin: 20px 0px;">
	<div class="panel-group docs-nav">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title"> <i class="fa fa-gear"></i>
					<span class="menu-item">技术</span>
				</h4>
			</div>
			<div class="panel-body">
				<ul class="nav">
					<li>
						<a ui-sref="contact" ng-class="{'selected':isSelected == '/contact' }" >{{isSelecte}}echarts</a>
					</li>
					<li>
						<a ui-sref="gridlist" ng-class="{'selected':isSelected == '/gridlist' }" >Grid</a>
					</li>
					<li class="active">
						<a ui-sref="chartsmap" ng-class="{'selected':isSelected == '/chartsmap' }" >深圳地图</a>
					</li>
					<li>
						<a href="/docs/content-regions">Angular.js</a>
					</li>
					<li>
						<a ui-sref="bMapChart">BMap-Echarts</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>