<div ng-controller="bMapController" class="container">
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<div class="panel-group docs-nav">

				<!-- Integration -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"> <i class="fa fa-gear"></i>
							<span class="menu-item">技术</span>
						</h4>
					</div>
					<div class="panel-body">
						<ul class="nav">
							<li>
								<a ui-sref="chartRemark">echarts</a>
							</li>
							<li>
								<a href="/docs/encoding">html5</a>
							</li>
							<li >
								<a href="/docs/page-properties">node</a>
							</li>
							<li>
								<a href="/docs/content-regions">Angular.js</a>
							</li>
							<li>
								<a ui-sref="bMapChart">BMap-Echarts</a>
							</li>
							<li>
								<a href="/docs/repeatable-regions">Repeatable regions</a>
							</li>
							<li>
								<a href="/docs/url-formatting">URL formatting</a>
							</li>
							<li>
								<a href="/docs/include-files">Include files</a>
							</li>
							<li>
								<a href="/docs/detecting-the-cms">Detecting the CMS</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--右边 -->
		<div class="col-md-9">
			<div class="docs-heading">
				<h1>百度地图扩展</h1>
				<h2>百度地图加上Echarts</h2>
			</div>

			<div id="bMapChart" style="height:400px;"></div>
		</div>

	</div>
</div>