<div ng-controller="chartsModule" class="container">
	<div class="row">
		<div class="col-md-3 col-sm-4">
			<div class="panel-group docs-nav">

				<!-- Integration -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"> <i class="fa fa-gear"></i>
							<span class="menu-item">技术</span>
						</h4>
					</div>
					<div class="panel-body">
						<ul class="nav">
							<li class="active">
								<a href="#">echarts</a>
							</li>
							<li>
								<a href="/docs/encoding">html5</a>
							</li>
							<li >
								<a href="/docs/page-properties">node</a>
							</li>
							<li>
								<a href="/docs/content-regions">Content regions</a>
							</li>
							<li>
								<a href="/docs/photo-galleries">Photo galleries</a>
							</li>
							<li>
								<a href="/docs/repeatable-regions">Repeatable regions</a>
							</li>
							<li>
								<a href="/docs/url-formatting">URL formatting</a>
							</li>
							<li>
								<a href="/docs/include-files">Include files</a>
							</li>
							<li>
								<a href="/docs/detecting-the-cms">Detecting the CMS</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!--右边 -->
		<div class="col-md-9">
			<div class="docs-heading">
				<h1>myCharts{{name}}</h1>
				<h2>鼠标右键备注功能</h2>
			</div>

			<div id="mychart" style="height:400px;"></div>
		</div>

	</div>
</div>