<div ng-controller="chartsModule">
	<div ng-controller="remarkEchartsCtrl" class="container">
		<div class="row">
			<div ng-include="template/subChart.html"></div>
			<div class="col-md-3 col-sm-4">
				<div class="panel-group docs-nav">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"> <i class="fa fa-gear"></i>
								<span class="menu-item">技术</span>
							</h4>
						</div>
						<div class="panel-body">
							<ul class="nav">
								<li>
									<a ui-sref="chartRemark">echarts</a>
								</li>
								<li>
									<a ui-sref="ngGrid">ng-Grid</a>
								</li>
								<li class="active">
									<a href="/docs/page-properties">node</a>
								</li>
								<li>
									<a href="/docs/content-regions">Angular.js</a>
								</li>
								<li>
									<a ui-sref="bMapChart">BMap-Echarts</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!--右边 -->
			<div class="col-md-9">
				<div class="docs-heading">
				   <div id="mychart" style="width: 600px;height:400px;"> </div>
				</div>

			</div>
		</div>

	</div>
</div>