<div>
	<section id="services" class="page">
	      <div class="container">
	        <div class="content text-center">
	          <div class="heading">
	            <h2>What we love doing.</h2>
	            <div class="border"></div>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, alias enim placeat earum quos ab.</p>
	          </div>
	          <div class="row">
	            <div class="col-lg-4 service animated" data-animation="fadeInUp" data-delay="300">
	              <i class="fa fa-globe fa-5x"></i>
	              <h3><a href="#">Web Design</a></h3>
	              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
	            </div>
	            <div class="col-lg-4 service animated" data-animation="fadeInUp" data-delay="600">
	              <i class="fa fa-cloud fa-5x"></i>
	              <h3><a href="#">Web Development</a></h3>
	              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lau dantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
	            </div>
	            <div class="col-lg-4 service animated" data-animation="fadeInUp" data-delay="900">
	              <i class="fa fa-mobile fa-5x"></i>
	              <h3><a href="#">Mobile Development</a></h3>
	              <p>Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus.</p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
	</div>